/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/**************************  clearfix ****************************/

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/*************************  box sizing ****************************/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/**************************  new css  ****************************/


/**************************  HOME PAGE  ****************************/
header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
}

body {
    width: 100%;
    background-color: white;
    padding-top: 60px;
}

.navbar {
    width:100%;    
}

.navimg {
    width: 6%;
    z-index: -1;
    position: absolute;
    margin: .5%;
    margin-left: 3%;
    top: 0;
}

.nav {
    width: 100%;
    z-index: 3;
    font-family: 'Permanent Marker', cursive;
    text-align: left;
    padding: 14px 16px;
    font-size: 250%;
    margin: 2.5%;
    margin-left: 10%;
}

li {
    display: inline;
    padding: 2%;
}

.line-separator{
    height: 4px;
    background:black;
    border-bottom: 1px solid #313030;
}

.nav-social-icons{
    color: black;
    width: 200px;
    float:right;
    display: inline;
    margin-top: -6.3%
   
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 25%;
    text-align: center;
    text-decoration: none;
}

.fa-facebook:hover {
    background-color: #3B5998;
}

.fa-twitter:hover {
    background-color: #55ACEE;
}

.fa-youtube:hover {
    background-color: red;
}

.fa-facebook {
    background: #333333;
    color: white;
}

.fa-twitter {
    background: #333333;
    color: white;
}

.fa-youtube {
    background: #333333;
    color: white;
}

.featured {
    width: 84.5%;
    background-color: #333333;
    margin: 0 auto;
    margin-bottom: 3%;
    margin-top: 8%;
}

.mySlides {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-left: 10%;
}

.maincol {

    width: 60%;
    margin-left: 7.5%;
    display: inline-block;

}

.latevidtitle {
    background-color: lightgray;
    margin-bottom: 30px;
    font-family: 'Permanent Marker', cursive;
    text-align: left;
    padding: 10px 10px;
    font-size: 170%;
}

.latevid-col-one {
    margin-bottom: 3%;
}

.latevid-col-two {
    margin-bottom: 3%;
}

.vidthumb {
    display: inline-block;
    width: 33%;
    color: black;
    font-family: 'Permanent Marker', cursive;
    
}
.thumb-one {
    width: 100%;
}

.sidebar {
    width: 20%;
    float: right;
    margin-right: 7.5%;
    color: black;
    font-family: 'Permanent Marker', cursive;
    display: inline-block;
    text-align: center;
}

.side-line-one {
     height: 4px;
    background:black;
    border-bottom: 1px solid #313030;
    margin-bottom: 3%;
}

input[type=text] {
    width: 200px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    font-family: 'Raleway', sans-serif;
    background-color: lightgray;
    padding: 5px;
}

input[type=text]:focus {
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

h2 {
    padding: 5px;
    font-size: 30px
}

h3 {
    font-family: 'Raleway', sans-serif;
    padding: 15px;
}

.side-line-two {
    height: 4px;
    background:black;
    border-bottom: 1px solid #313030;
    margin-top: 10%;
}

h4 {
    padding: 15px;
    font-size: 30px;
}

.side-line-three {
    height: 4px;
    background:black;
    border-bottom: 1px solid #313030;
    margin-top: 10%;
}

h5 {
    padding: 15px;
    font-size: 30px;
    
}

iframe {
    width: 100%;
    height: 300px;
}

.footer-img {
    width: 3%;
    float: left;
    padding: 5px;
}

.foot-nav {
    font-family: 'Permanent Marker', cursive;
    padding: 20px;
}

.foot-social-icons {
    color: black;
    width: 200px;
    float:right;
    display: inline;
    margin-top: -3%
}

.featured img {
    display: none;
}

/**************************  ABOUT  ****************************/

.about {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

.about-title {
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.about-content {
    background-color: lightgray;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    padding: 5px;
}

.about-separator{
    height: 4px;
    background:black;
    border-bottom: 1px solid #313030;
    margin-top: 3%
}

.bottom-logo {
    width: 15%;
    padding: 2%;
    margin-left: 40%;
    margin-top: 3%
}

/**************************  VIDEO  ****************************/

.video-col {

    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    display: inline-block;
}

.next {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    padding: 30px;
    
}

/**************************  ARTICLES  ****************************/

.article-col {

    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    display: inline-block;
}

.art-title {
    float: right;
    margin-right: 50%;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
}

.art-sum {
    width: 65%;
    font-family: 'Raleway', sans-serif;
    margin-right: 50%;
    font-size: 25px;
    margin-left: 35%;
    margin-top: -15%;   
}

.art-section {
    padding-top: 5%;
    padding-bottom: 5%;
}